* {
    margin: 0;
    padding: 0;
}

.blue {
    background-color: rgb(74, 183, 255);
}
.gray {
    background-color: lightgray;
}

.header,
.footer,
.right,
.content,
.left {
    padding: 20px;
}
.container {
    display: flex;
    min-height: 400px;
}
.right,
.left {
    width: 15%;
}
.content {
    width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
}
.header-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.header-menu li {
    margin-right: 15px;
}

.left-menu {
    list-style: none;
    margin-top: 20px;
}
.left-menu li {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 25%;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    box-sizing: border-box;
}

.card img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}